body {
color:rgb(255, 255, 255);
background:rgb(0, 0, 0);
font-family:"faculty glyplic,"serif;
}
.chamada {
background-color: rgb(0, 0, 0);
padding-bottom: 80px;
padding-top: 80px;
display:flex;
justify-content: center;
}
